/*header*/
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: red;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header {
    background: radial-gradient(#ffff, #a0d9de);
    margin-top: 0px;

}

.small-container {
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*footer*/
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;
}

/*product-page*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 2px solid red;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    ;
    /* border: 2px solid red; */
    margin-left: 10px;
    width: 45px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background 1s;
}

.page-btn span:hover {
    background: red;
    color: yellow;
}

.col-4 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s
}

.col-4 img {
    width: 100%;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.page-btn span .current_page {
    display: inline-block;
    width: 100%;
    height: 99%;
    background-color: #20c271;
}

/* dropdown */
.dropbtn {
    color: red;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* chatbox */
.open-button {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.chatbox {
    display: grid;
    position: fixed;
    right: 0px;
    bottom: 0px;
    grid-template-columns: 220px 65px;
    grid-template-rows: 26px 260px 85px 40px;
    background: white;
    border: #666;
    border-style: groove;
    border-width: 1px;
}

.inputmsg textarea {
    width: 300px !important;
}

div.item1 {
    display: flex;
    align-items: center;
    background: #a0d9de;
    text-align: justify;
    color: red;
    font-family: sans-serif;
    font-size: 17px;
}

div.item2 {
    background: #a0d9de;
}

.inputmsg {
    width: 200px;
    border-left-width: 1px;
    padding-left: 1px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.item2 button {
    float: right;
}

.chat-box-list-container {
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 1px;

}

ul.chat-box {
    padding-left: 0px;
    flex-direction: column;
    list-style-type: none;
    position: relative;
}


.client {
    /* background-color: rgb(0, 132, 255); */
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    max-width: 80%;
}

.client {
    background-color: rgb(0, 132, 255);
    color: #ffffff;
    float: right;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word;

}

.server {
    /* background-color: rgb(0, 132, 255); */
    /* overflow-y: ; */
    padding-left: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    float: left;
}

.server {
    background-color: #e4e6eb;
    color: #050505;
    padding-right: 5px;
    border-radius: 4px;
    width: fit-content;
}

li.server {
    height: 40px;
    width: 233px;
}

li.client {
    height: 40px;
    margin-right: 0px;
}

.chat-box-list-container ul li {
    /* padding: 15px 0px; */
    clear: both;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

/* goi y de hoi */
div.hint {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4
}

ul.quick-reply {
    list-style-type: none;
    padding-left: 0px;
    line-height: 2;
}

.quick-reply li {
    color: #007bff;
    font-size: 14px;
    border-color: #007bff;
    border-style: solid;
    line-height: 1.5;
    display: inline-flex;
    margin-right: 4px;
    padding: 2px;
    border-radius: .2rem;
    border-width: 2px;
}
